
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <p>© 2022 Copyright: Nathan Mulubrhan</p>
    </div>
    <!-- Copyright -->
  
  </footer>









  <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
</body>
</html>
