<%- include('partials/header') %>
    <%- include('partials/navbar') %>


        <h1 id="headGuide">GitHub Pages Guide</h1>
        <img src="IMG\gitHubLogo.png" class="logo" id="herokulogoCheck">

        <div class="P1 P2">
            <h1>Gå til nettsiden til GitHub og lag deg en bruker.</h1> <br>
            <h5>Link til nettsiden <a href="https://github.com" target="_blank">GitHub.com</a>
        </div>


        <div class="P1 P2">
            <h1>Etter at du har logget deg inn så lager du deg en ny "Repository".</h1> <br>
            <p> Finn denne knappen for å lage en ny -------------> <img src="IMG\newRepo.png"
                    style="border-radius: 7px; margin-left: 2%;"></p> <br>
        </div>

        <div class="P1 P2">
            <h1>Hent filene dine</h1> <br>
            <br>
            <p>Når du har valgt filene dine, så kan du trykke på "Commit changes". <br>
                <img src="IMG\addFile.png"style="border-radius: 7px; margin-left: 45%; height: auto; width: 55%"> <br><br>
                <img src="IMG\fileUpload.png"style="border-radius: 7px; margin-left: 45%; height: auto; width: 50%"></p> <br>
        </div>

        <div class="P1 P2">
            <h1> Publiser nettsiden din</h1> <br>
            <p> Trykk på 'settings' ---------> <img src="IMG\settings.png"
                    style="border-radius: 7px; margin-left: 14%;"></p> <br>
                Trykk på 'pages' ----------><img src="IMG\pages.png"
                style="border-radius: 7px; margin-left: 14%;"></p> <br>
                Endre source til main branch ---------> <img src="IMG\branch.png"
                style="border-radius: 7px; margin-left: 14%;"></p> <br>
                
           
        </div>


        <div class="P1 P2">
            <h1>Besøk Nettsiden din på </h1> <br>
            <p>'dittBrukerNavn'.github.io/'repositoryName'  <img src="IMG\gitHubLogo.png" style="height: 150px; margin-left:25%"></p> <br>
        </div>

        <%- include('partials/footer') %>