<%- include('partials/header') %>
    <%- include('partials/navbar') %>


    <a class="nav-link active" aria-current="page" href="/guide">Heroku Guide</a>
    <a class="nav-link active" aria-current="page" href="/check">Heroku Guide</a>

    
    <h3 class="txt">Nødvendige fil forberedelser</h3>
    <h3 class="txt">Host nettsiden din!</h3>
    <div class="Pguide Plink">
     
        <a href="/check"> <img src="IMG\fileLogo.png" class="link" style="width: 78%;"></a>
    </div>


    <div class="Pguide Plink ">
    <a href="/guide"> <img src="IMG\herokuLogo.png" class="HerokuIMG"></a>

  
    </div>


        <%- include('partials/footer') %>