<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <div class="heroku-buttons">

            <div class="Pguide Plink">
                <h3 class="txt">Forberedelser</h3>
                <a href="/check"> <img src="IMG\fileLogo.png" class="link" style="width: 78%;"></a>
            </div>
            
            
            <div class="Pguide Plink ">
                <h3 class="txt">Host nettsiden!</h3>
                <a href="/guide"> <img src="IMG\herokuLogo.png" class="HerokuIMG"></a>
            </div>


        </div>


        <%- include('partials/footer') %>