<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <h1 class="header1" id="head"> GitHub pages VS Heroku</h1>

        <div class="index-cards">

            <div class="index-card">

                <div class="P1">
                    <p> GitHub Pages er en statisk hosting service for nettsider som tar HTML, CSS og JavaScript-filer.
                        Den tar
                        filene rett fra den valgte repository og kjører filene gjennom en byggeprosess og publiserer
                        nettsiden.
                        Du
                        har også muligheten til å sette ditt eget domenenavn.</p>
                </div>
                <a href="github">
                    <img src="IMG\gitHubLogo.png" class="logo imgRight"></a>
            </div>

            <br>


            <div class="index-card">

                <div class="P1 Pright">
                    <p>Heroku er en containerbasert skyplattform som en tjeneste. Utviklere kan bruker Heroku til å
                        distribuere, administrere og skalere moderne apper. Plattformen til Heroku er fleksibel og enkel
                        å
                        bruke, og
                        tilbyr utviklere den enkleste veien til å få appene sine på markedet.
                    </p>
                </div>
                <a href="/heroku"> <img src="IMG\herokuLogo.png" class="logo imgLeft"></a>
            </div>




            <div class="index-card">

                <div class="P1">
                    <p> Som sagt så er GitHub Pages en statisk hosting service for nettsider som tar HTML, CSS og
                        JavaScript-filer, men Heroku er en containerbasert skyplattform. Github pages kan bare bruke
                        browser din som runtime engine, men heroku bruker sine egne servere som kjører forskjellige
                        runtime engines. Enklere forklart så kan du bruke heroku sine servere som om det er dine, men å
                        bruke GitHub pages kan man bare kjører lokale filer.
                </div>
                 <img src="IMG\compareLogo.png" class="logo imgRight">
            </div>

        </div>


        <br>






        <%- include('partials/footer') %>